.c-slot-machine-container {
  --roller-height: 15vw;
  --roller-cell-width: 18vw;
  --roller-cell-height: 13vw;
  --roller-padding: 7vw;
  --roller-cell-font-size: 10vw;
  --roller-margin: 1vw;
  --roller-font-color: #e4c04d;
  width: fit-content;
  margin: auto;
}
.c-slot-machine-roller-group {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
  height: var(--roller-height);
  padding: var(--roller-padding) 0;
}
.c-slot-machine-roller {
  position: relative;
  top: calc(var(--roller-padding) * -1);
  margin: 0 var(--roller-margin);
  width: var(--roller-cell-width);
  height: calc(var(--roller-padding) * 2 + var(--roller-height));
  overflow: hidden;
}
.c-slot-machine-roller:nth-child(1) {
  margin-left: 0;
}
.c-slot-machine-roller:nth-last-child(1) {
  margin-right: 0;
}
.c-slot-machine-roller-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  top: var(--roller-padding);
  z-index: 4;
}
.c-slot-machine-roller-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.c-slot-machine-roller-first,
.c-slot-machine-roller-last,
.c-slot-machine-roller-child {
  font-size: var(--roller-cell-font-size);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  width: var(--roller-cell-width);
  height: var(--roller-cell-height);
  line-height: var(--roller-cell-height);
  text-align: center;
  transform: rotateX(0);
  transition: transform 3s ease;
  color: var(--roller-font-color);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}
.c-slot-machine-roller-target-pre {
  transform: rotateX(-30deg);
}
.c-slot-machine-roller-target-next {
  transform: rotateX(30deg);
}
.c-slot-machine-roller-first {
  position: absolute;
  top: calc(var(--roller-cell-height) * -1);
}
.c-slot-machine-roller-last {
  position: absolute;
  bottom: calc(var(--roller-cell-height) * -1);
}
.c-slot-machine-roller-child-img {
  --width: 50%;
  width: var(--width);
  height: var(--roller-cell-height);
  object-fit: contain;
}

.c-slot-machine-roller-stopping {
  --translateFoldY: -1.5;
  animation: enhance-bounce-in-down var(--stopTimeout) forwards;
}

.c-slot-machine-roller-stopping .c-slot-machine-roller-wrapper {
  --translateFoldY: -2;
  animation: enhance-bounce-in-down var(--stopTimeout) forwards;
}

@keyframes enhance-bounce-in-down {
  25% {
    transform: translateY(calc(12% * var(--translateFoldY)));
  }
  50% {
    transform: translateY(calc(-6% * var(--translateFoldY)));
  }
  70% {
    transform: translateY(calc(3% * var(--translateFoldY)));
  }
  85% {
    transform: translateY(calc(-1.5% * var(--translateFoldY)));
  }
  to {
    transform: translateY(calc(0 * var(--translateFoldY)));
  }
}

.c-slot-machine-container[data-status='await'] .c-slot-machine-roller-child {
  /* filter: blur(2px); */
}
.c-slot-machine-container[data-status='start'] .c-slot-machine-roller-child {
  /* filter: blur(10px); */
}

.c-slot-machine-container[data-stop-mode='fast'] .c-slot-machine-roller-stopping {
  /* animation-delay: var(--stop-delay); */
}
.c-slot-machine-container[data-stop-mode='slow']
  .c-slot-machine-roller-stopping
  .c-slot-machine-roller-main {
  transition: transform linear 0.5s;
}
.c-slot-machine-svg-blur div {
  filter: url(#c-blur);
}
